body {
    background-color: rgba(255, 0, 0, 0.626);
    font-family: 'Bebas Neue', cursive;
}

html {
    height: 100%;
}

img {
    padding: 0;
}

.card {
    background: #eaeaea;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

/* will need to convert the above css to tailwind later */
.modal-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#food-img {
    width: 400px;
    height: 400px;
}

/* ul{
    list-style-type:square;
} */

.modal {
    display: none;
    z-index: 10;
    width: 70%;
    /* height: 80%; */
    height: fit-content;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* position: fixed;
    /* left: 0;
    top: 0; */
    /* float: left; */
    /* overflow: auto;
    background-color: rgba(93, 29, 29, 0.4); */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    margin: 20px;
    padding: 20px;
    border: 5px solid gold;
    /* width: 80%; */
    border-radius: 12px;
}

/* allows sections to be .hidden, put it at the end for the Cascading part of CSS */
/* .hidden {
    display: none;
} */

.background-img {
    /* // position absolute, top left bottom right 0. z index could be X - for background image */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 1;
    /* Footer height */
}

/* .youtube-link {
    text-decoration: underline;
} */

.youtube-link {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 2;
}

.youtube-link::before {
    content: '';
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.youtube-link:hover::before {
    bottom: 0;
    height: 100%;
    background-color: white;
}


.card-one:hover,
.card-two:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
    border-radius: 12%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}