<<<<<<< HEAD
body{
    background-color: rgba(255, 0, 0, 0.626);
}
img{
    padding:0;
}
=======
.card{
    background:#eaeaea;
    padding:2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin:1em;
}
/* will need to convert the above css to tailwind later */
>>>>>>> 0f3cd0b4a1ecb472cb35c5487bc65bc22cce8fd2
